@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes toast-in {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.toast-in {
  animation: toast-in 200ms ease-out;
}
